# Node.js
node_modules/
npm-debug.log

# Dependency directories
.jscpd-report/
.jest/
.eslintcache
.prettierignore
.prettierrc
.eslintrc

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak
*.tmp
*~
.DS_Store
.env
config.json

